name: Python Packages

on:
  push:
    branches: [ develop ]
    tags: [ "v*" ]
# following two lines must be commented out before merging, we don't want to run this on PRs
# but for testing this we run this on PRs
  pull_request:
    branches: [ develop ]

jobs:
  build-sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools setuptools-rust build
      - name: Build sdist
        working-directory: ./python
        run: bash build-sdist.sh
      - uses: actions/upload-artifact@v4
        with:
          name: artifact-sdist
          path: python/dist/*

  build-linux-wheels:
    name: Build Linux ${{ matrix.arch }} Python Wheels (+PGO if possible)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: ["amd64", "arm64"]
    steps:
      - uses: actions/checkout@v4
      - name: Download dictionary
        run: bash fetch_dictionary.sh "20220519" "core"
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-${{ matrix.arch }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: build in manylinux container (w/ pgo)
        if: ${{ matrix.arch == 'amd64' }}
        uses: ./.github/actions/run-in-manylinux
        with:
          arch: ${{ matrix.arch }}
          script: python/build-wheels-manylinux-pgo.sh
      - name: build in manylinux container (w/o pgo)
        if: ${{ matrix.arch == 'arm64' }}
        uses: ./.github/actions/run-in-manylinux
        with:
          arch: ${{ matrix.arch }}
          script: python/build-wheels-manylinux.sh
      - uses: actions/upload-artifact@v4
        with:
          name: artifact-manylinux-${{ matrix.arch }}
          path: python/dist/*manylinux*

  build-non-linux-wheels:
    name: Build wheels on ${{ matrix.os }} / ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macOS-latest]
        python-version: [ "3.9", "3.10", "3.11", "3.12", "3.13", "3.13t" ]

    steps:
      - uses: actions/checkout@v4

      - uses: Quansight-Labs/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -U setuptools setuptools_rust build
      - name: Add aarch64/x86 target for Rust
        run: rustup target add aarch64-apple-darwin x86_64-apple-darwin
        if: startsWith(matrix.os, 'macOS')
      - name: Build wheel
        working-directory: ./python
        run: python -m build --wheel
        env:
          ARCHFLAGS: -arch x86_64 -arch arm64
          MACOSX_DEPLOYMENT_TARGET: 10.12
      - uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ matrix.os }}-${{ matrix.python-version }}
          path: python/dist/*.whl

  upload-to-pypi: # run only if all have succeeded
    needs: [ build-sdist, build-non-linux-wheels, build-linux-wheels ]
    # https://stackoverflow.com/questions/58475748/github-actions-how-to-check-if-current-push-has-new-tag-is-new-release
    if: startsWith(github.ref, 'refs/tags/v') # only for tags
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: artifact-*
          path: dist/
          merge-multiple: true
      - name: List files to upload
        run: ls -R dist/
      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: ${{ secrets.PYPI_USERNAME }}
          password: ${{ secrets.PYPI_PASSWORD }}
          verbose: true
